body{
    background-color: #34495e;
    height: 100vh;
}
.title{ 
    width: 80%;
    margin: 5px auto;
    text-align: center;
    color: cornflowerblue;
    font-size: 40px;
    font-family: 微软雅黑;
}
.loading{
    /* text-align: center; */
    font-family: "montserrat",sans-serif;
    margin: 30vh auto;
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    border-radius: 50%;
    border-top: 10px solid #e74c3c;
    position: relative;
    animation: a1 2s linear infinite;
}
.loading::before,.loading::after{
    content: '';
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    top: -10px;
    box-sizing: border-box;
    border-radius: 50%;
}
.loading::before{
    border-top: 10px solid #e67e22;
    transform: rotate(120deg);
}
.loading::after{
    border-top: 10px solid #3498db;
    transform: rotate(240deg);
}
.loading span{
    position: absolute;
    width: 200px;
    height: 200px;
    color: #ffffff;
    text-align: center;
    line-height: 200px;
    animation: a2 2s linear infinite;
}

@keyframes a1 {
    to{
        transform: rotate(360deg);
    }
}

@keyframes a2 {
    to{
        transform: rotate(-360deg);
    }
}